<nav class="navbar d-flex justify-content-center">
  <!-- <ul class="navbar-nav" style="margin-left: 15px"> -->
  <!-- <li class="nav-item active">
      <a class="nav-link" href="#">
        <fa-icon [icon]="faBars"></fa-icon>
      </a>
    </li> -->
  <!-- </ul> -->

  <span class="navbar-brand mb-0 h1">PilotMath</span>
</nav>
<div class="container pt-3">
  <app-question></app-question>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Disclaimer</h5>
      <p>
        De trainer is nog in ontwikkeling. Suggesties? Maak een issue aan op
        <a href="https://github.com/danielkappelle/pilot-math" target="_NEW"
          >github</a
        >
        of zoek me op in dé Bar.
      </p>
    </div>
  </div>
</div>

<div class="footer">
  door&nbsp;<a href="https://github.com/danielkappelle" target="_NEW"
    >Daniel Kappelle</a
  >
  &middot; Versie {{ appVersion }}
</div>
