<nav class="navbar">
  <ul class="navbar-nav" style="margin-left: 15px;">
    <li class="nav-item active">
      <a class="nav-link" href="#">
        <fa-icon [icon]="faBars"></fa-icon>
      </a>
    </li>
  </ul>

  <span class="navbar-brand mb-0 h1">PilotMath</span>
</nav>

<div class="question-container">
  
</div>

<!-- <h1>Pilot Math</h1> -->

<app-question></app-question>

<!-- <div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Disclaimer</h5>
    <p>The trainer is still in its very early stages, so please bear with me. I am planning on making it a very nice and
      helpful tool though. If you have any suggestions, please find the Github respository <a
        href="https://github.com/danielkappelle/pilot-math" target="_NEW">here</a>.</p>
    <h5>Some planned features</h5>
    <ul>
      <li>Time limit</li>
      <li>Different types of questions</li>
      <li>Better visual feedback</li>
      <li>Minigame while you do the calculations</li>
      <li>Focus on input</li>
      <li>Styling</li>
      <li>...</li>
    </ul>
  </div>
</div> -->


<div class="footer">
  <div class="footer-inside d-flex flex-row justify-content-between p-2">
    <div class="footer-left d-flex">
      by&nbsp;<a href="https://github.com/danielkappelle" target="_NEW">Daniel Kappelle</a>
    </div>
    <div class="footer-right d-flex">
      &nbsp;
    </div>
  </div>
</div>