<div class="card">
  <div class="card-body">
    <h5 class="card-title">Question #1</h5>
    <p>{{questionText}}</p>
    <form [formGroup]="answerForm" (ngSubmit)="submitAnswer()">
      <div class="form-group">
        <input type="text" class="form-control" id="answer" placeholder="Your answer" formControlName="answer">
      </div>
    </form>
    <table class="table table w-25 mt-3">
      <tbody>
        <tr>
          <th>Correct</th>
          <td>{{correct}}</td>
        </tr>
        <tr>
          <th>Incorrect</th>
          <td>{{incorrect}}</td>
        </tr>
        <tr>
          <th>Score</th>
          <td>{{correct / (correct+incorrect)*100 | number : '1.0-0'}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>